@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-main: #69c045;
    --color-supporting: #F88922;
    --color-button: #69C045;
    --color-background: #F0FFF4;
    
    --font-roboto: "roboto", "sans-serif";
}

/* Reusable button class */
.ezy-button-primary {
    @apply inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-main hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition-colors duration-300 cursor-pointer;
}
.ezy-button-secondary {
    @apply inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-supporting hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 transition-colors duration-300 cursor-pointer;
}

.ezy-button-primary-sm {
    @apply inline-flex items-center px-3 py-1 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-main hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition-colors duration-300 cursor-pointer
}
.ezy-button-secondary-sm {
    @apply inline-flex items-center px-3 py-1 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-supporting hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 transition-colors duration-300 cursor-pointer
}

.dashboard-badge {
    @apply font-semibold text-sm py-1 px-3 border border-gray-200 w-fit mx-auto my-2 rounded-md bg-orange-200
}
